*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Laila', sans-serif;
  font-style: normal;
  font-weight: normal; }

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F3F4F5; }
  .section-about__frame {
    margin: 10rem auto; }
  .section-about__image {
    width: 30rem; }
  .section-about__text-box {
    margin: 10rem auto; }

.section-home {
  background-image: url("/img/greek-vase.png");
  height: 100vh; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px; }
  .header__logo {
    height: 3rem; }
  .header__logo-box {
    transform: translate(7.2rem, 1.2rem); }

.navigation {
  transform: translate(15rem, 1.7rem);
  font-size: 2.4rem; }
  .navigation__list {
    display: flex; }
  .navigation__link {
    text-decoration: none;
    color: #070B14; }
  .navigation__list-item {
    list-style: none;
    text-transform: uppercase; }
    .navigation__list-item:not(:last-child) {
      margin-right: 5rem; }

.button {
  background-color: transparent;
  border: 3px solid #071B50;
  color: #071B50;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  font-family: "Laila", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  transform: translate(-2rem, 1.5rem); }

.hero__picture {
  position: absolute;
  left: 54.5rem;
  top: -10.4rem; }
  .hero__picture__image {
    width: 93.2rem;
    height: auto; }

.heading {
  position: absolute;
  width: 61.7rem;
  height: 15.7rem;
  left: 7.2rem;
  top: 15rem;
  font-family: "Amidic", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5.5rem;
  line-height: 138.6%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #070B14; }

.value-preposition {
  position: absolute;
  width: 617px;
  height: 131px;
  left: 7.2rem;
  top: 33.7rem;
  font-family: "Laila",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 110.1%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #8A2D2D; }

.btn {
  background-color: #071B50;
  border: 3px solid #071B50;
  color: white;
  padding: 1rem 3rem;
  padding: 2rem 3.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  font-family: "Laila", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  position: absolute;
  left: 26.2rem;
  top: 47rem; }
