*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh 76rem 1fr 80rem; }

body {
  font-family: 'Laila', sans-serif;
  font-style: normal; }

.heading {
  position: absolute;
  width: 61.7rem;
  height: 15.7rem;
  left: 7.2rem;
  top: 15rem;
  font-family: "Amidic", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5.5rem;
  line-height: 138.6%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #070B14; }
  .heading-secondary {
    font-family: "Laila", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.3rem;
    line-height: 9.1rem;
    color: #8A2D2D; }
  .heading-tertiary {
    font-family: "Kaithryn Personal Use", "laila", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    line-height: 15.6rem;
    color: #070B14;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    margin: 3rem 0rem; }
  .heading-tertiary_1 {
    font-family: "Kaithryn Personal Use", "laila", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 15.6rem;
    color: #E5E5E5;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    margin: 1rem 0rem; }
  .heading-4 {
    margin-bottom: 1rem;
    font-family: "Laila", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
    color: #52006A; }
  .heading-5 {
    font-family: "Laila", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 4.3rem;
    margin-bottom: 2.5rem;
    color: #FF7600; }
    .heading-5--bold {
      font-weight: bold;
      font-size: 5rem;
      line-height: 7.7rem; }

.section-picture {
  margin: 15rem 10rem;
  grid-column: 1/7;
  grid-row: 2/3;
  justify-content: center;
  display: grid;
  align-items: center; }
  .section-picture__image {
    width: auto;
    height: 40rem; }

.section-description {
  grid-column: 7/12;
  grid-row: 2/3;
  margin: 10rem 0;
  margin-left: 0.7rem;
  padding: 0 3rem; }
  .section-description__text-box {
    font-family: Laila;
    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 3rem;
    color: #071B50; }

p:not(:last-child) {
  margin-bottom: 1.5rem; }

.section-home {
  background-image: url("/img/greek-vase.png");
  grid-column: 1/-1; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px; }
  .header__logo {
    height: 3rem; }
  .header__logo-box {
    transform: translate(7.2rem, 1.2rem); }

.navigation {
  transform: translate(15rem, 1.7rem);
  font-size: 2.4rem; }
  .navigation__list {
    display: flex; }
  .navigation__link {
    text-decoration: none;
    color: #070B14; }
  .navigation__list-item {
    list-style: none;
    text-transform: uppercase; }
    .navigation__list-item:not(:last-child) {
      margin-right: 5rem; }

.button {
  background-color: transparent;
  border: 3px solid #071B50;
  color: #071B50;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  font-family: "Laila", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  transform: translate(-2rem, 1.5rem); }

.hero__picture {
  position: absolute;
  left: 54.5rem;
  top: -10.4rem; }
  .hero__picture__image {
    width: 93.2rem;
    height: auto; }

.value-preposition {
  position: absolute;
  width: 617px;
  height: 131px;
  left: 7.2rem;
  top: 33.7rem;
  font-family: "Laila",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 110.1%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #8A2D2D; }

.btn {
  background-color: #071B50;
  border: 3px solid #071B50;
  color: white;
  padding: 1rem 3rem;
  padding: 2rem 3.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  font-family: "Laila", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  position: absolute;
  left: 26.2rem;
  top: 47rem; }

.section-pricing {
  grid-column: 1/-1;
  background-color: #52006A;
  padding: 0 5rem; }

.price_cards {
  display: flex; }

.price_card {
  margin: 1rem 1rem;
  border: 2px solid #E5E5E5;
  padding: 3.3rem 1rem;
  width: 25%; }

.price_text {
  font-family: "Laila", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 34px;
  text-align: center;
  color: #FF7600; }

span {
  display: block;
  text-align: center; }

.section-process {
  background-color: #F3F4F5;
  grid-column: 1/-1;
  padding: 0 10rem;
  padding-bottom: 5rem; }

.processes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }

.process {
  display: grid;
  grid-template-columns: 10rem 1fr; }
  .process_icon {
    margin-right: 5rem; }
  .process_text {
    font-family: "Laila", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 3.3rem;
    color: #0A1931; }
