.section-contacts{
  grid-column: 1/-1;
  background-color: $color-primary-contacts;
  padding:0rem 11.1rem;
}
.contacts{
  &_details {
    display: grid;
    grid-template-columns: 7.1rem 1fr;
    margin-top: 2.5rem;

    @include respond(tab-port) { 
      margin-top: -0.5rem;
    }
  }
  &_detail{
    font-family: "Laila", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.65rem;
    line-height: 3.6rem;
    color: $color-accent-contacts;

    @include respond(tab-port) { 
      font-size: 2.4rem;
    }
    

    &_icon{
    margin-left: 2rem;
    margin-bottom: 1.3rem;

    @include respond(tab-port) { 
      width: 3.2rem;
      height: auto;
    }  
  }
  }
  &_text{
    font-family: "Laila", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: $color-accent-contacts;
    padding: 3rem 0rem 2rem 2rem;

    @include respond(tab-port) {
      font-size: 2.4rem;
    }
  }
  &_box{
  display: flex;
  justify-content: center;
  }
  &_image{
    width: 40%;
    height: auto;

    @include respond(phone){
      display:none;
    }
  }
  &_socials{
    display: flex;
    justify-content: center;

    &_icon{
      margin-top: 5rem;

      @include respond(tab-port) {
      width: 4.5rem;
      }
    &:not(:last-child) {
       margin-right: 2rem;
     }
     }
  }
  &_container{
    background-color: $color-tertiary-contacts;
    width: 45%;

    @include respond(phone){
      width:75%;
      border-radius: 8.5px;
    }
  }

}
