.section-pricing{
  grid-column: 1/-1;
  background-color: $color-primary-process;
  padding: 0 5rem;
}
.price{
  &_cards{
  display:flex;

  }
  &_card{
    margin: 1rem 1rem;
    border: 2px solid $color-secondary-pricing;
    padding: 3.3rem 1rem;
    width: 25%;
  }
  &_text{
    font-family:  "Laila", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.3rem;
    line-height: 3.4rem;
    text-align: center;
    color: $color-primary-pricing;
  }
}
