.section-process{
    background-color: $color-accent-hero;
}
.process_text{
    font-family: Laila;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    color: $color-secondary-process;
}