.section{
    &-process{
        background-color: $color-accent-hero;
        grid-column: 1/-1;
        padding: 0 10rem;
        padding-bottom: 5rem;

      @include respond(phone){
        padding: 0 7.5rem 8rem 7.5rem;
      }
  }
}
.processes{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem;
  justify-content: center;

  @include respond(phone){
    grid-template-columns: repeat(2,1fr);
  }
}
.process{
    display: grid;
    grid-template-columns:10rem 1fr;

    @include respond(tab-port) { 
      grid-template-columns: 8rem 1fr;
    }

    &_icon{
      margin-right: 5rem;
      width: auto;
      height: 5rem;

      @include respond(tab-port) { 
        height: 4.2rem;
      }  
    }
    &_text{
      font-family: "Laila", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 2.1rem;
      line-height: 3.3rem;
      color: $color-secondary-process;
    }
}
