*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /// This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(phone) { // width < 600?
        font-size: 41.25%; //1 rem = 6.6px, 6.6/16 = 41.25%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16 = 75%
    }
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100vh 76rem 1fr 85rem 71rem 10rem;

    @include respond(tab-port) { 
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 92vh 76rem 1fr 92rem 64rem 9rem;
    }

    @include respond(phone){
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 116rem 57rem 1fr 123rem 64rem 9rem;
    }
}

// @include respond(phone) {  }