*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100vh 76rem 1fr 80rem;
}
