body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
}
.heading{
    position: absolute;
    width: 61.7rem;
    height: 15.7rem;
    left: 7.2rem;
    top: 13.7rem;
    font-family:"lato", sans-serif;
    font-weight: normal;
    font-size: 5.9rem;
    line-height: 155.6%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: $color-secondary-hero;

     @include respond(phone) { 
        position:relative;
        left: 50%;
        text-align: center;
        top: 0%;
        transform: translate(-50%, 0);
      }

    &-secondary{
        font-family: "Laila", sans-serif;
        font-weight: 500;
        font-size: 3.3rem;
        line-height: 9.1rem;
        color: $color-tertiary-hero;

        @include respond(phone){
          font-size: 5.9rem;
          line-height: 12.1rem;
        }
    }
    &-tertiary{
      font-family: "Laila", sans-serif;
      font-weight: normal;
      font-size: 4.5rem;
      line-height: 15.6rem;
      text-transform: capitalize;
      display:flex;
      justify-content: center;
    }

    &-tertiary_1{
        color: $color-secondary-hero;
        margin: 3rem 0rem;
    }
    &-tertiary_2{
        color: $color-secondary-pricing;
        margin: 1rem 0rem;
    }
    &-tertiary_3{
        color: $color-secondary-contacts;
        margin: 1rem 0rem;
    }
    &-4{
        margin-bottom: 1rem;
        font-family: "Laila", sans-serif;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 5.6rem;
        color: $color-primary-process;
    }
    &-5{
      font-family: "Laila", sans-serif;
      font-weight: 600;
      font-size: 2.1rem;
      line-height: 4.3rem;
      margin-bottom: 2.5rem;
      color: $color-primary-pricing;
      display: block;
      text-align: center;
      &--bold{
        font-weight: bold;
        font-size: 5rem;
        line-height: 7.7rem;
      }
    }
}
